{% extends 'base.html.twig' %}

{% block title %}
    Użytkownicy
{% endblock %}

{% block body %}
    <table class="table table-stripped">
        <tr>
            <th>#</th>
            <th>ID</th>
            <th>Email</th>
            <th>Uprawnienia</th>
            <th></th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles|join(', ') }}</td>
                <td><a href="{{ path('admin_user_edit', {'id': user.id}) }}">Edytuj</a></td>
            </tr>
        {% endfor %}
    </table>
    <div class="navigation">
        {{ knp_pagination_render(users) }}
    </div>
{% endblock %}
