{{ form_start(form) }}

{{ form_row(form.reader) }}
{{ form_row(form.book) }}
<div class="specimen">
    {% if form.Specimen is defined %}
        {{ form_row(form.Specimen) }}
    {% endif %}
</div>
{% if form.rentTo is defined %}
    {{ form_row(form.rentTo) }}
{% endif %}
{% if form.isReturned is defined %}
    {{ form_row(form.isReturned) }}
{% endif %}
<button class="btn btn-primary btn-block">{{ button_value }}</button>
{{ form_end(form) }}