{% extends 'base.html.twig' %}

{% block body %}
    <h2>{{ book.title }}</h2>
    <p>Autorzy: {{ book.authors|join(', ') }}</p>
    <p>Kategorie: {{ book.categories|join(', ') }}</p>
    <p>ISBN: {{ book.isbn }}</p>
    <p>Opis: {{ book.description }}</p>
    <table class="table table-stripped">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Do wypożyczenia</th>
            <th scope="col">Data zwrotu</th>
        </tr>
    {% for specimen in book.specimens %}
        <tr>
            <th>{{ loop.index }}</th>
{#            <td>{{ specimen.id }}</td>#}
            <td>{{ specimen.forRent ? "Tak"  : "Nie wypożycza się" }}</td>
            <td>
                {% if specimen.lastRent is not null and not specimen.lastRent.isReturned %}
                    {{ specimen.lastRent.rentTo|date("d/m/Y") }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}

{% block title %}

{% endblock %}

