{% extends 'base.html.twig' %}

{% block body %}
    <a class="btn btn-success btn-block" href="{{ path('admin_book_new') }}">+ Dodaj</a>
    <table class="table table-hover table-dark">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">ID</th>
            <th scope="col">Tytuł</th>
            <th scope="col">Autorzy</th>
            <th scope="col">Liczba egzemplarzy</th>
            <th scope="col"></th>
        </tr>
        </thead>
        {% for book in books %}
            <tr>
                <th>
                    {{ loop.index }}
                </th>
                <td>{{ book.id }}</td>
                <td>
                    <a href="{{ path('admin_book_show', {'id': book.id}) }}">{{ book.title }}</a>
                </td>
                <td>
                    {% for author in book.authors %}
                        {{ author.name }} {{ author.surname }}
                    {% endfor %}
                </td>
                <td>
                    Liczba egzemplarzy: {{ book.specimens|length }}
                </td>
                <td><a href="{{ path('admin_book_edit', {'id': book.id}) }}">Edytuj</a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}